<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">

	<variable name="myvar" value="myvalue"/>
	<variable name="basePath" value="C:\NLogs(CanDelete)\Goa_Tools_Error\${shortdate}\error.txt"/>
	
	<!--确定信息输出位置：控制台，文件……-->
	<targets>
		<!--屏幕打印消息-->
		<target name="console" xsi:type="ColoredConsole"
                        layout="${date:format=HH\:mm\:ss}> ${message}"/>

		<!--VS输出窗口-->
		<target name="debugger" xsi:type="Debugger"
                        layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

		<!--保存至文件-->
		<target name="error_file" xsi:type="File" maxArchiveFiles="30"
                        fileName="${basePath}"
                        layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
	</targets>
	<!--确定文件记录何种信息等级-->
	<rules>
		<!--将所有的日志输出到控制台中-->
		<!--<logger name="*" writeTo="console" />-->
		<!--将Debug级别以上的日志输出到Debugger中-->
		<!--<logger name="*" minlevel="Debug" writeTo="debugger" />-->
		<!--将Error级别以上的日志输出到文件中-->
		<!--等级严重顺序，由min到max: Trace < Debug < Info < Warn < Error < Fatal -->
		<logger name="*" minlevel="Trace" writeTo="error_file" />
		
	</rules>
	
</nlog>